# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment-specific files
.env

# Ignore editor and IDE files
.idea/
.vscode/

# Ignore system and temporary files
.DS_Store
Thumbs.db
*.swp
*.swo
*.swn

# Ignore log files
*.log

# Ignore compiled files and build artifacts
*.pyc
*.pyd
*.exe
*.dll
*.so
*.out
*.log
*.egg-info/
dist/
build/
